@import "common.scss";
@import "mixin.scss";
.wrap{
    width:100%;
    height:100%;
    @include box_flex;
    @include direction(column);
}
header{
     width:100%;
     height:pxTorem(44px);
     background: #14BAAE;
     padding:0 pxTorem(15px);
     box-sizing:border-box;
}
section{
     @include flex;
}